.jumbotron {
  text-align: center;
}

.toppings {
  display: none;
}

.confirm-order {
  display: none;
}

#confirm {
  display: none;
  margin-left: 33%;
}

.confirm-order {
  text-align: center;
}

.your-size {
  display: none;
}

.display-result {
  display: none;
}

.card {
  margin: 20px;
  padding: 5px;
}

#show-size {
  font-weight: bold;
}

#pizzalife {
  max-width: 200px;
  min-height: 200px;
  border-radius: 50%;
}
